/* 
App Section
*/

.header-logo {
  height: 100px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
}

.nav > li {
  padding: 15px;
}

.res-card:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
    cursor: pointer;
}

.search {
  padding: 2rem;
}

.res-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.res-logo {
  background-color: #f0f0f0;
  margin: 1rem;
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 15px;
}

.res-logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    overflow: clip;
}


.body{
    width: 70%;
    margin: auto; 
}


/* ResCard */

.second-row{
    display: flex;
    font-weight: bold;
}

.card-description{
    padding-left: 14px;
}

.card-description > h3,p {
    margin: 6px;
}


/* filter-button */

.filter-button{
   border-radius: 8px;
   width: 6rem;
    height: 2rem;
    margin: 20px 0;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: space-between;
  }


  /* item card */
  .item-card{
    width: 45%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
  }
